* {
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #333;
    margin-top: 50px;
}

.titulo {
    margin: 0px 0px 20px 0px;
    color: rgb(25, 241, 169);
}
.cuerpo-formulario {
    width: 30%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #FFF;
    text-align: center;
    border-radius: 20px;   
}

.formulario {          
    color: #999;
    margin:0;
    padding: 0;
}

.form-control {
    margin: 5px;
    display: block;
    width: 90%;
    padding: 10px;    
}

input {
    border: 1px solid #999;
    border-radius: 5px;
}

.button {
    margin-top: 20px;
    width: 99%;
    background-color: rgb(25, 241, 169);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 12pt;
}

.button:hover {
    background-color: rgb(36, 226, 163);
}

.select {    
    margin-left: 2px;
    padding: 7px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
}

p {
    color: #666;
}